In [2]:
import pandas as pd
import json
import pickle

In [7]:
df_s = pd.read_pickle('song_new.pkl')
df_a = pd.read_pickle('artist_new.pkl')
df_u = pd.read_pickle('user_new.pkl')
df_s

,song_id,title,release,artist_name,year,tag,duration,listeners,playcount,image_url_large,image_url_exlarge
0,SOQMMHC12AB0180CB8,Silent Night,Monster Ballads X-Mas,Faster Pussy cat,2003,"[christmas, psychedelic, weird, metal, rock]",253000,1968,6601,https://lastfm.freetls.fastly.net/i/u/174s/a2e...,https://lastfm.freetls.fastly.net/i/u/300x300/...
1,SOVFVAK12A8C1350D9,Tanssi vaan,Karkuteillä,Karkkiautomaatti,1995,[],155000,1586,4996,https://lastfm.freetls.fastly.net/i/u/174s/8e4...,https://lastfm.freetls.fastly.net/i/u/300x300/...
2,SOGTUKN12AB017F4F1,No One Could Ever,Butter,Hudson Mohawke,2006,"[Hip-Hop, experimental, instrumental hip-hop, ...",139000,29044,116154,https://lastfm.freetls.fastly.net/i/u/174s/a82...,https://lastfm.freetls.fastly.net/i/u/300x300/...
3,SOBNYVR12A8C13558C,Si Vos Querés,De Culo,Yerba Brava,2003,[],145000,27,45,n/a,n/a
4,SOHSBXH12A8C13B0DF,Tangle Of Aspens,Rene Ablaze Presents Winter Sessions,Der Mystic,0,[],0,0,0,n/a,n/a
...,...,...,...,...,...,...,...,...,...,...,...
9995,SOGZRTH12A6D4F7A80,Niewinni I Ja Cz.I_ II,Pamieci Pawla Bergera,Dzem,0,[],0,0,0,n/a,n/a
9996,SOHMERR12AB018A914,There Goes My Heart,Hot Numbers,THE INK SPOTS,2001,[],217000,96,176,n/a,n/a
9997,SOKBPEM12AB018A1E0,Never Hold A Candle To Love,The Spence Manor Suite,Andrew Gold,0,[],181000,248,476,https://lastfm.freetls.fastly.net/i/u/174s/1c2...,https://lastfm.freetls.fastly.net/i/u/300x300/...
9998,SOGBCVB12A58A77C2B,What Am I Gonna Do,The Legendary Kenny Rogers,Kenny Rogers,2003,[country],0,1016,1962,n/a,n/a
9999,SOILYRZ12A58A7C40E,Little Drummer Boy,Classic Country Christmas,Nat Stuckey,0,[christmas],0,66,141,https://lastfm.freetls.fastly.net/i/u/174s/f8b...,https://lastfm.freetls.fastly.net/i/u/300x300/...

In [24]:
df_s.head(5)

,song_id,title,release,artist_name,year,tag,duration,listeners,playcount,image_url_large,image_url_exlarge
0,SOQMMHC12AB0180CB8,Silent Night,Monster Ballads X-Mas,Faster Pussy cat,2003,"[christmas, psychedelic, weird, metal, rock]",253000,1968,6601,https://lastfm.freetls.fastly.net/i/u/174s/a2e...,https://lastfm.freetls.fastly.net/i/u/300x300/...
1,SOVFVAK12A8C1350D9,Tanssi vaan,Karkuteillä,Karkkiautomaatti,1995,[],155000,1586,4996,https://lastfm.freetls.fastly.net/i/u/174s/8e4...,https://lastfm.freetls.fastly.net/i/u/300x300/...
2,SOGTUKN12AB017F4F1,No One Could Ever,Butter,Hudson Mohawke,2006,"[Hip-Hop, experimental, instrumental hip-hop, ...",139000,29044,116154,https://lastfm.freetls.fastly.net/i/u/174s/a82...,https://lastfm.freetls.fastly.net/i/u/300x300/...
3,SOBNYVR12A8C13558C,Si Vos Querés,De Culo,Yerba Brava,2003,[],145000,27,45,n/a,n/a
4,SOHSBXH12A8C13B0DF,Tangle Of Aspens,Rene Ablaze Presents Winter Sessions,Der Mystic,0,[],0,0,0,n/a,n/a

In [20]:
df_a.head(5)

,artist_name,content,summary,artist_listeners,artist_playcount,artist_tag,artist_image_url_large,artist_image_url_exlarge
0,Faster Pussy cat,,"<a href=""https://www.last.fm/music/+noredirec...",1,2,[],n/a,n/a
1,Karkkiautomaatti,Karkkiautomaatti (which is 'Candy vending mach...,Karkkiautomaatti (which is 'Candy vending mach...,9727,281102,"[finnish, indie, indie pop, pop, seen live]",https://lastfm.freetls.fastly.net/i/u/174s/2a9...,https://lastfm.freetls.fastly.net/i/u/300x300/...
2,Hudson Mohawke,"Hudson Mohawke, (b. Ross Birchard), also known...","Hudson Mohawke, (b. Ross Birchard), also known...",421421,6620191,"[electronic, experimental, Hip-Hop, seen live,...",https://lastfm.freetls.fastly.net/i/u/174s/2a9...,https://lastfm.freetls.fastly.net/i/u/300x300/...
3,Yerba Brava,An argentinean cumbia villera band. Good to da...,An argentinean cumbia villera band. Good to da...,26158,169921,"[cumbia, Cumbia villera, southern elite circle...",https://lastfm.freetls.fastly.net/i/u/174s/2a9...,https://lastfm.freetls.fastly.net/i/u/300x300/...
4,Der Mystic,,"<a href=""https://www.last.fm/music/+noredirec...",2,4,[],n/a,n/a

In [21]:
df_u.head(5)

,user_id,song_id,listen_count
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2
266,17aa9f6dbdf753831da8f38c71b66b64373de613,SONMWXV12AB01803B4,1
334,d6589314c0a9bcbca4fee0c93b14bc402363afea,SOSZNRJ12A8AE46E38,6
354,5a905f000fc1ff3df7ca807d57edb608863db05d,SOAKDHD12A6310F1AE,1
397,5a905f000fc1ff3df7ca807d57edb608863db05d,SOCXGVX12A67AD85A1,1

In [7]:
df_s.loc[df_s['song_id'].isin(df_u['song_id'])].title

245                             Anyone Else But You
412                             Drunk and Hot Girls
464             Until The Day I Die (Album Version)
484                                   Rewind (Demo)
548                                 Never Knew Love
                           ...
9368                                          a joy
9439    Once In A Lifetime (Remastered LP Version )
9503                       Same Hood_ Different Day
9630                          The Storm Is Over Now
9854                            Darlin' Do Not Fear
Name: title, Length: 104, dtype: object

In [8]:
t = df_s[df_s['song_id'] == df_u['song_id'][1]]
ts = t['title'].tolist()
ts

['Entre Dos Aguas']

In [9]:
ts[0]

'Entre Dos Aguas'

In [10]:
triple = []
for _, rows in df_u.iterrows():
    temp = df_s.loc[df_s['song_id'] == rows['song_id']]
    temp_title = temp['title'].tolist()
    temp_artist = temp['artist_name'].tolist()
    temp_album = temp['release'].tolist()
    t = (str(rows['user_id']), 'listens_to', str(temp_title[0]))
    tc = (str(rows['user_id']), 'listen_count', str(rows['listen_count']))
    tu = (str(rows['listen_count']), 'for_track', str(temp_title[0]))
    s = (str(temp_title[0]), 'made_by', str(temp_artist[0]))
    a = (str(temp_title[0]), 'belongs_to', str(temp_album[0]))
    triple.extend((t, tc, tu, s, a))
triples_df = pd.DataFrame(triple, columns=['subject', 'predicate', 'object'])
triples_df.head(10)

                                    subject     predicate               object
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e    listens_to      Entre Dos Aguas
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  listen_count                    2
2                                         2     for_track      Entre Dos Aguas
3                           Entre Dos Aguas       made_by        Paco De Lucia
4                           Entre Dos Aguas    belongs_to  Flamenco Para Niños
5  17aa9f6dbdf753831da8f38c71b66b64373de613    listens_to            Year 3000
6  17aa9f6dbdf753831da8f38c71b66b64373de613  listen_count                    1
7                                         1     for_track            Year 3000
8                                 Year 3000       made_by       Jonas Brothers
9                                 Year 3000    belongs_to                S.O.S

In [11]:
print(triples_df.info())
print(triples_df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104600 entries, 0 to 104599
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   subject    104600 non-null  object
 1   predicate  104600 non-null  object
 2   object     104600 non-null  object
dtypes: object(3)
memory usage: 2.4+ MB
None
63369

In [12]:
triple_ex = []
for _, r in df_s.iterrows():
    t = (str(r['title']), 'made_by', str(r['artist_name']))
    a = (str(r['title']), 'belongs_to', str(r['release']))
    triple_ex.extend((t, a))
triple_ex_df = pd.DataFrame(triple_ex, columns=['subject', 'predicate', 'object'])
triple_ex_df.head(5)

             subject   predicate                 object
0       Silent Night     made_by       Faster Pussy cat
1       Silent Night  belongs_to  Monster Ballads X-Mas
2        Tanssi vaan     made_by       Karkkiautomaatti
3        Tanssi vaan  belongs_to            Karkuteillä
4  No One Could Ever     made_by         Hudson Mohawke

In [13]:
triple_ex_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   subject    20000 non-null  object
 1   predicate  20000 non-null  object
 2   object     20000 non-null  object
dtypes: object(3)
memory usage: 468.9+ KB

In [14]:
triple_df_f = pd.concat([triples_df, triple_ex_df], axis=0)
triple_df_f.head(10)

                                    subject     predicate               object
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e    listens_to      Entre Dos Aguas
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  listen_count                    2
2                                         2     for_track      Entre Dos Aguas
3                           Entre Dos Aguas       made_by        Paco De Lucia
4                           Entre Dos Aguas    belongs_to  Flamenco Para Niños
5  17aa9f6dbdf753831da8f38c71b66b64373de613    listens_to            Year 3000
6  17aa9f6dbdf753831da8f38c71b66b64373de613  listen_count                    1
7                                         1     for_track            Year 3000
8                                 Year 3000       made_by       Jonas Brothers
9                                 Year 3000    belongs_to                S.O.S

In [15]:
triple_df_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124600 entries, 0 to 19999
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   subject    124600 non-null  object
 1   predicate  124600 non-null  object
 2   object     124600 non-null  object
dtypes: object(3)
memory usage: 3.8+ MB

In [16]:
triple_df_f.duplicated().sum()

63592

In [17]:
triple_df_f = triple_df_f.drop_duplicates()
triple_df_f.duplicated().sum()

0

In [18]:
triple_df_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61008 entries, 0 to 19999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   subject    61008 non-null  object
 1   predicate  61008 non-null  object
 2   object     61008 non-null  object
dtypes: object(3)
memory usage: 1.9+ MB

In [19]:
triple_df_f.head(10)

                                    subject     predicate               object
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e    listens_to      Entre Dos Aguas
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  listen_count                    2
2                                         2     for_track      Entre Dos Aguas
3                           Entre Dos Aguas       made_by        Paco De Lucia
4                           Entre Dos Aguas    belongs_to  Flamenco Para Niños
5  17aa9f6dbdf753831da8f38c71b66b64373de613    listens_to            Year 3000
6  17aa9f6dbdf753831da8f38c71b66b64373de613  listen_count                    1
7                                         1     for_track            Year 3000
8                                 Year 3000       made_by       Jonas Brothers
9                                 Year 3000    belongs_to                S.O.S

In [20]:
triple_df_f[(triple_df_f.subject == "Entre Dos Aguas") | (triple_df_f.object == "Entre Dos Aguas")]

,subject,predicate,object
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,listens_to,Entre Dos Aguas
2,2,for_track,Entre Dos Aguas
3,Entre Dos Aguas,made_by,Paco De Lucia
4,Entre Dos Aguas,belongs_to,Flamenco Para Niños
105,930d2be6c85315d72cab9823ec0f7bfe7e477794,listens_to,Entre Dos Aguas
...,...,...,...
100280,d141dc1fdd870ac7f42c16cc02b08f1d1619c173,listens_to,Entre Dos Aguas
100540,f61f8d2809fbbc741b470fdde297c5d736235c5f,listens_to,Entre Dos Aguas
101075,4fb6065ba02f5a9d1b2c937115193562bb0fdc5b,listens_to,Entre Dos Aguas
104195,4f3aa3be0f511e71a41998c3b1d9a7f350bc0bb8,listens_to,Entre Dos Aguas
104375,e2b3abe8a84dc8923aba2ba482d4b6e8d90697cf,listens_to,Entre Dos Aguas

In [21]:
triple_df_f.to_pickle('triple.pkl')

In [22]:
df_u.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20920 entries, 1 to 1999955
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       20920 non-null  object
 1   song_id       20920 non-null  object
 2   listen_count  20920 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [23]:
triple_df_f.to_numpy()

array([['b80344d063b5ccb3212f76538f3d9e43d87dca9e', 'listens_to',
        'Entre Dos Aguas'],
       ['b80344d063b5ccb3212f76538f3d9e43d87dca9e', 'listen_count', '2'],
       ['2', 'for_track', 'Entre Dos Aguas'],
       ...,
       ['What Am I Gonna Do', 'belongs_to', 'The Legendary Kenny Rogers'],
       ['Little Drummer Boy', 'made_by', 'Nat Stuckey'],
       ['Little Drummer Boy', 'belongs_to', 'Classic Country Christmas']],
      dtype=object)

In [24]:
triple_df_f.to_csv('triple.csv')

In [25]:
import numpy as np

In [26]:
all_entities = np.array(list(set(triple_df_f.values[:, 0]).union(triple_df_f.values[:, 2])))
len(all_entities)

42832

In [27]:
all_entities

array(['Schizo', '20993111a592f725ba5b6335709e5069dfda2fa9',
       'd000d1e6b37fd9584f1a3a1580b70ce82aa83e16', ...,
       '6fe75af9382cfd0af30e3caade94578db00a9001', 'At Fifteen',
       'Soda Stereo'], dtype='<U188')

New Triples (with tags and year instead of album)

In [44]:
t = df_s[df_s['song_id'] == df_u['song_id'][1]]
ts = t['tag']
for i in ts:
    if i == []:
        print('n/a')
    else:
        for j in i:
            print(j)

Flamenco
guitar
spanish
instrumental
guitar virtuoso

In [46]:
triple_user = []
for _, rows in df_u.iterrows():
    temp = df_s.loc[df_s['song_id'] == rows['song_id']]
    temp_title = temp['title'].tolist()
    temp_artist = temp['artist_name'].tolist()
    t = (str(rows['user_id']), 'listens_to', str(temp_title[0]))
    tc = (str(rows['user_id']), 'listen_count', str(rows['listen_count']))
    tu = (str(rows['listen_count']), 'for_track', str(temp_title[0]))
    triple_user.extend((t, tc, tu))
triples_user_df = pd.DataFrame(triple_user, columns=['subject', 'predicate', 'object'])
triples_user_df.head(10)

,subject,predicate,object
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,listens_to,Entre Dos Aguas
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,listen_count,2
2,2,for_track,Entre Dos Aguas
3,17aa9f6dbdf753831da8f38c71b66b64373de613,listens_to,Year 3000
4,17aa9f6dbdf753831da8f38c71b66b64373de613,listen_count,1
5,1,for_track,Year 3000
6,d6589314c0a9bcbca4fee0c93b14bc402363afea,listens_to,Anyone Else But You
7,d6589314c0a9bcbca4fee0c93b14bc402363afea,listen_count,6
8,6,for_track,Anyone Else But You
9,5a905f000fc1ff3df7ca807d57edb608863db05d,listens_to,Face To Face (Cosmo VItelli Remix)

In [58]:
df_s['year'].nunique()

68

In [67]:
triple_metadata = []
triple_tag = []
for _, r in df_s.iterrows():
    t = (str(r['title']), 'made_by', str(r['artist_name']))
    y = (str(r['title']), 'release_in', str(r['year']))
    a = (str(r['title']), 'belongs_to_album', str(r['release']))
    triple_metadata.extend((t, y, a))
    if r['tag'] == []:
        pass
    else:
        for i in r['tag']:
            triple_tag.append((str(r['title']), 'belongs_to_genre', str(i)))
triple_md_df = pd.DataFrame(triple_metadata, columns=['subject', 'predicate', 'object'])
triple_tag_df = pd.DataFrame(triple_tag, columns=['subject', 'predicate', 'object'])

In [68]:
triple_md_df.head(5)

        subject         predicate                 object
0  Silent Night           made_by       Faster Pussy cat
1  Silent Night        release_in                   2003
2  Silent Night  belongs_to_album  Monster Ballads X-Mas
3   Tanssi vaan           made_by       Karkkiautomaatti
4   Tanssi vaan        release_in                   1995

In [69]:
triple_tag_df.head(5)

        subject         predicate       object
0  Silent Night  belongs_to_genre    christmas
1  Silent Night  belongs_to_genre  psychedelic
2  Silent Night  belongs_to_genre        weird
3  Silent Night  belongs_to_genre        metal
4  Silent Night  belongs_to_genre         rock

In [70]:
triple_tag_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19462 entries, 0 to 19461
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   subject    19462 non-null  object
 1   predicate  19462 non-null  object
 2   object     19462 non-null  object
dtypes: object(3)
memory usage: 456.3+ KB

In [71]:
triple_all_df = pd.concat([triples_user_df, triple_md_df, triple_tag_df], axis=0)
triple_all_df.head(10)

,subject,predicate,object
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,listens_to,Entre Dos Aguas
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,listen_count,2
2,2,for_track,Entre Dos Aguas
3,17aa9f6dbdf753831da8f38c71b66b64373de613,listens_to,Year 3000
4,17aa9f6dbdf753831da8f38c71b66b64373de613,listen_count,1
5,1,for_track,Year 3000
6,d6589314c0a9bcbca4fee0c93b14bc402363afea,listens_to,Anyone Else But You
7,d6589314c0a9bcbca4fee0c93b14bc402363afea,listen_count,6
8,6,for_track,Anyone Else But You
9,5a905f000fc1ff3df7ca807d57edb608863db05d,listens_to,Face To Face (Cosmo VItelli Remix)

In [72]:
triple_all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112222 entries, 0 to 19461
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   subject    112222 non-null  object
 1   predicate  112222 non-null  object
 2   object     112222 non-null  object
dtypes: object(3)
memory usage: 3.4+ MB

In [74]:
triple_all_df.duplicated().sum()

21873

In [75]:
triples_user_df.duplicated().sum()

21737

In [76]:
triple_md_df.duplicated().sum()

76

In [77]:
triple_tag_df.duplicated().sum()

60

In [78]:
df_s['song_id'].duplicated().sum()

0

In [79]:
df_s['title'].duplicated().sum()

223

In [84]:
triple_all_df = triple_all_df.drop_duplicates()

In [85]:
triple_all_df[(triple_all_df.subject == "Entre Dos Aguas") | (triple_all_df.object == "Entre Dos Aguas")]

,subject,predicate,object
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,listens_to,Entre Dos Aguas
2,2,for_track,Entre Dos Aguas
63,930d2be6c85315d72cab9823ec0f7bfe7e477794,listens_to,Entre Dos Aguas
65,1,for_track,Entre Dos Aguas
780,41c12ce05f18b757d9257e5ad4f8303b4b8a8758,listens_to,Entre Dos Aguas
...,...,...,...
9634,Entre Dos Aguas,belongs_to_genre,Flamenco
9635,Entre Dos Aguas,belongs_to_genre,guitar
9636,Entre Dos Aguas,belongs_to_genre,spanish
9637,Entre Dos Aguas,belongs_to_genre,instrumental
9638,Entre Dos Aguas,belongs_to_genre,guitar virtuoso

In [86]:
triple_all_df.duplicated().sum()

0

In [87]:
triple_all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90349 entries, 0 to 19461
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   subject    90349 non-null  object
 1   predicate  90349 non-null  object
 2   object     90349 non-null  object
dtypes: object(3)
memory usage: 2.8+ MB

In [91]:
pickle.dump(triple_all_df, open('all_triple.pkl', 'wb'))
triple_all_df.to_csv('all_triple.csv')

In [95]:
triple_all_df[triple_all_df.subject == 'd6589314c0a9bcbca4fee0c93b14bc402363afea']

                                    subject     predicate               object
6  d6589314c0a9bcbca4fee0c93b14bc402363afea    listens_to  Anyone Else But You
7  d6589314c0a9bcbca4fee0c93b14bc402363afea  listen_count                    6

In [3]:
triple_all_df = pd.read_pickle('all_triple.pkl')